<ul id="user" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
    <li class="sidebar-item">
        <a href="#" class="sidebar-link" id="blocked"> Active </a>
    </li>
    <li class="sidebar-item">
        <a href="#" class="sidebar-link " id="un-blocked"> IN-ACTIVE</a>
    </li>
</ul>