<!-- header  -->
<header style="width:90vw;" >
    <div class="header-content">
        <label for="menu-toggle">
            <span class="las la-bars"></span>
        </label>

        <div class="header-menu">

            <div class="notify-icon">
                <a href="/logout"><span style="color: rgb(252, 244, 244);">Logout</span></a>

                <img src="./img/boyPic.png" height="40vh">
            </div>

        </div>
    </div>
</header>


<!-- style="color: rgb(22, 20, 20);" -->
