<aside id="sidebar">
    <div class="d-flex align-items-center">
        <button id="toggle-btn" type="button">
            <i class="lni lni-grid-alt"></i>
        </button>
        <div class="sidebar-logo">
            <a href="#"><%= Sdata.ffname %></a>
        </div>
    </div>


    <ul class="sidebar-nav">

        <li class="sidebar-item  Role " id="productId">
            <a href="/dashboard" class="sidebar-link ">
                <i class="fa-solid fa-house"></i>
                <span>HOME</span>
            </a>
        </li>
       
        <li class="sidebar-item  Role " id="productId">
            <a href="/users" class="sidebar-link ">
                <i class="liText fa-solid fa-user"></i>
                <span>USERS</span>
            </a>
        </li>

        <li class="sidebar-item" id="productId">
            <a href="/product" class="sidebar-link ">
                <i class=" fa-brands fa-product-hunt"></i>
                <span>Product</span>
            </a>
        </li>

        <li class="sidebar-item" id="regionId">
            <a href="/region" class="sidebar-link">
                <i class=" liText fa-solid fa-location-dot"></i>
                <span>REGION</span>
            </a>
        </li>

       

        <li class="sidebar-item">
            <a href="#" class="sidebar-link">
                <i class="liText fa-solid fa-address-book"></i>
                <span class="liText">CONTACT</span>
            </a>
        </li>


    </ul>

    <div class="sidebar-footer pb-5">
        <a href="/logout" class="sidebar-link">
            <i class="lni lni-exit" style="font-size: x-large;"></i>
            <span>Logout</span>
        </a>
    </div>

</aside>